BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: ForIndentation
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
SortIncludes: true
IncludeBlocks: Regroup
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortIfStatementsOnASingleLine: WithoutElse
Cpp11BracedListStyle: true
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 2
InsertBraces: true